# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\bjtu\大三上\非关系型数据库\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
